html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #5a8da0;
}

.login-container input {
  margin: 10px 0;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.login-container input::placeholder {
  color: #bbb;
}

.login-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}
